@font-face {
  font-family: 'Inika';
  src: url(./assets/fonts/inika/Inika-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 400 700;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

button {
  background: inherit;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 55px;
}

.nav-burger-list {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  transform: translateY(-100%);
  transition: transform 0.4s;
}

.nav-burger {
  display: none;
}

.nav-burger {
  display: none;
}

.burger-list {
  list-style: none;
  background-color: #EDF2EC;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  padding-bottom: 20px;
  padding-top: 12px;
}

.nav-burger-list.active {
	transform: translateY(0);
}

.green-bg {
  background-color: #EDF2EC;
}

.header {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1222px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  padding-top: 51px;
}

.logo-text {
  margin-left: -3px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  vertical-align: bottom;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 42px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
  margin-right: 47px;
}

#nav-link-home {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  color: #E06733;
}

#nav-link-home:hover {
  color: #b47152;
  transition: 0.3s;
}

.lesser-margin {
  margin: 0px;
}

.nav-link:hover {
  color: #E06733;
  transition: 0.3s;
}

.burger-link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

#home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leaf-container {
  margin-top: 104px;
  margin-bottom: 62.64px;
  width: 450px;
  height: 407.36px;
}

.home-leafs {
  object-fit: fill;
}

.home-text {
  margin-top: 140px;
  margin-bottom: 91px;
  max-width: 554px;
}

.home-text h1 {
  margin-top: 0;
  padding-bottom: 9px;
}

.home-h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-left: 5px;
}

.home-h1-span {
  color: #499A18;
}

.home-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin-left: 5px;
  margin-bottom: 0px;
}

.home-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 48px;
  margin-left: 5px;
  text-transform: uppercase;
  border: solid 2px #E06733;
  border-radius: 9px;
  width: 159px;
  height: 44px;
  padding-right: 0px;
  padding-left: 0px;
}

.home-button:hover,.service-button:hover,.price-button:hover,.city-card-btn:hover, .price-hidden-btn:hover {
  transition: 0.5s;
  background-color: #E06733;
  color: #ffffff;
  cursor: pointer;
}

#about-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-us-plant {
  margin-top: 93px;
  margin-bottom: 94px;
}

.about-us-text {
  max-width: 600px;
  margin-top: 161px;
}

.about-us-h2 {
  margin-top: 0px;
  padding-bottom: 5px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.about-us-span {
  color: #E06733;
}

.about-us-p {
  padding-bottom: 5px;
  margin-top: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.service-text-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.service-h2 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  max-width: 300px;
  min-height: 94px;
  margin: 0;
  margin-right: 146px;
  margin-top: 40px;
}

.service-button {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  border: solid 1px #E06733;
  border-radius: 5px;
  width: 161px;
  height: 50px;
  margin-top: 69px;
  margin-left: 2px;
  margin-right: 32px;
}

.service-button.active {
  background-color: #E06733;
  color: #FFFFFF;
  transition: 0.6s;
}

.service-pictures {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 66px;
}

.service-img {
  vertical-align: middle;
}

.service-figcaption {
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  height: 100px;
}

.blur {
  filter: blur(2px);
  transition: 0.7s;
}

.unblur {
  filter: none;
  transition: 0.7s;
}

.service-img-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
  margin: 10px 0px;
  margin-bottom: 13px;
}

.service-img-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin: 10px 0px;
}

#price {
  display: flex;
  justify-content: space-between;
}

.price-selection-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin: 0px;
  margin-top: 38px;
  margin-bottom: 60px;
}

.price-selectors {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  display: inline-block;
  padding: 33px 40px;
}

.price-selectors-rectangle {
  width: 250px;
  height: 50px;
  max-height: 50px;
  overflow: hidden;
  background: #EDF2EC;
  border-radius: 20px;
  margin-bottom: 32px;
  padding: 16px 40px;
}

.price-selectors-rectangle.inactive {
  transition: 0.5s;
}

.price-selectors-rectangle.active {
  width: 250px;
  max-height: 154px;
  height: 154px;
  background: #D6E7D2;
  border-radius: 20px;
  transition: 0.5s;
}

.price-selectors-rectangle:last-child {
  margin-bottom: 0;
}

.price-selectors-inactive {
  display: flex;
  justify-content: space-between;
}

.price-hidden-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
  margin-top: 22px;
  margin-bottom: 0px;
}

.price-hidden-p::after {
  content: '';
  display: inline-block;
  background-color: #AEA1A1;
  width: 164px;
  height: 1px;
  position: relative;
  right: 0px;
  bottom: 45px;
}

.price-hidden-price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-top: -6px;
  margin-bottom: 6px;
}

.price-hidden-span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #E06733;
}

.price-hidden-btn {
  width: 86px;
  height: 25px;
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #717171;  
}

.price-hidden-btn:hover {
  cursor: pointer;
}

.price-selectors-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.price-selectors-accordion {
  background-image: url(./assets/svg/accordion_btn.svg);
  margin-top: 1px;
  width: 16px;
  height: 16px;
}

.price-selectors-accordion.active {
  background-image: url(./assets/svg/accordion_btn_open.svg);
}

.price-selectors-accordion:hover {
  cursor: pointer;
}

.price-contactus {
  max-width: 452px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.price-contactus-h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
  margin: 0px;
  margin-top: 38px;
  margin-bottom: 39px;
}

.price-contactus-span {
  color: #499A18;
}

.price-button {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  width: 162px;
  height: 50px;
  margin-bottom: 39px;
}

.price-contactus-img {
  width: 152px;
  height: 174.99px;
  margin-bottom: 115px;
}

.price-contactus-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 162px;
}

#contacts {
  display: flex;
}

.contacts-img {
  margin-top: 55px;
}

.contacts-h2 {
  margin-left: 113px;
  vertical-align: top;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-top: 63px;
}

.contacts-rectangle-wrapper {
  margin-left: auto;
}

.contacts-rectangle {
  margin-top: 148px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  width: 450px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.contacts-rectangle.inactive:hover {
  cursor: pointer;
}

.contacts-rectangle.active, .contacts-rectangle:hover {
  background-color: #C1E698;
  transition: 0.5s ease-in-out;
}

.contacts-rectangle.inactive {
  transition: 0.5s;
}

.contacts-extra-rectangle {
  position: absolute;
  overflow: hidden;
  width: 450px;
  height: 0px;
  top: 50px;
  background-color: #DCE9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts-extra-rectangle.active {
  height: 234px;
  transition: 0.5s ease-in-out;
  padding: 0px 35px;
  padding-top: 15px;
  padding-bottom: 31px;
}

.contacts-extra-rectangle.inactive {
  transition: 0.5s ease-in-out;
}

.extra-rectangle-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #499A18;
  margin: 0px;
  margin-top: 12px;
}

.extra-rectangle-hr {
  margin: 0;
  border: none;
  border-top: #D9D9D9 solid 1px;
}

.text-hover:hover {
  cursor: pointer;
}

.text-hover:hover .extra-rectangle-hr {
  transition: 0.3s;
  border-top: #717171 solid 1px;
}

.text-hover:hover .extra-rectangle-text {
  transition: 0.3s;
  color: #717171;
}

.city-card {
  display: none;
  margin-top: 47px;
  padding-top: 17px;
  width: 448px;
  height: 214px;
  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;
}

.city-card.active {
  display: block;
}

.city-card-title {
  margin: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #000000;
}

.city-card-titles {
  margin-bottom: 24px;
  margin-left: 33px;
  margin-right: 14px;
}

.city-card-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;  
  margin: 0;
}

.city-card-wrapper {
  display: flex;
}

.city-card-btn {
  width: 122px;
  height: 26px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #717171;
  margin-left: 174px;
}

.contacts-rectangle-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  margin-left: 20px;
  margin-top: 4px;
}

.contacts-accordion {
  margin-right: 35px;
  width: 16px;
  height: 16px;
  background-image: url(./assets/svg/accordion_btn_contacts.svg);
}

.contacts-accordion.active {
  background-image: url(./assets/svg/btn_contacts_open.svg);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left-text {
  margin-right: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-center-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.footer-right-img {
  margin-left: 20px;
  height: 28px;
  width: 32px;
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  color: #E06733;
  transition: 0.4s;
}

@media only screen and (min-width: 381px) and (max-width: 768px){

  .container {
    max-width: 668px;
  }

  #home {
    flex-direction: row-reverse;
  }

  .leaf-container {
    margin-top: 70px;
    margin-bottom: 121.85px;
    width: 280px;
    height: 260px;
  }

  .home-text {
    margin-top: 74px;
    margin-bottom: 67px;
    max-width: 347px;
  }

  .home-h1 {
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 35px;
  }

  .home-p {
    font-size: 16px;
    line-height: 25px;
  }

  .home-button {
    margin-left: 0px;
    margin-top: 35px;
  }

  .nav-list {
    padding-top: 35px;
  }

  .logo {
    padding-top: 45px;
  }

  .logo-text {
    margin-left: -5px;
  }

  .about-us-text {
    max-width: 668px;
    margin-top: 40px;
  }

  .about-us-h2 {
    text-align: center;
    font-size: 35px;
    line-height: 46px;
  }

  .about-h2-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-bottom: 45px;
  }

  .about-us-plant {
    width: 250px;
    height: 258px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 42px;
    margin-bottom: 96px;
  }

  .service-text-buttons {
    margin-bottom: 0;
  }

  .service-h2 {
    font-size: 35px;
    line-height: 45.61px;
    margin-top: 60px;
  }

  .service-button {
    margin-top: 40px;
    margin-left: 0;
    padding: 0;
    padding-right: 3px;
    margin-right: 34px;
    margin-bottom: 40px;
  }

  .service-img-text {
    margin-top: -3px;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
  }

  .service-figure {
    margin-bottom: 38px;
  }

  .service-pictures {
    padding-bottom: 32px;
  }

  .price-selection-h2 {
    font-size: 35px;
    line-height: 42px;
    margin-top: 40px;
    margin-left: 15px;
  }

  .price-contactus-h2 {
    font-size: 25px;
    line-height: 35px;
    margin-top: 139px;
    margin-bottom: 29px;
  }

  .price-contactus-img {
    width: 160px;
    height: 185px;
    margin-bottom: 83px;
    margin-top: -10px;
  }

  #contacts {
    flex-direction: column;
    justify-content: center;
  }

  .contacts-h2 {
    margin-left: 0;
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: center;
  }

  .contacts-rectangle {
    margin-top: 100px;
    margin-right: auto;
  }

  .contacts-img {
    margin-left: 244px;
    margin-right: auto;
    margin-top: 250px;
    width: 200px;
    height: 248.49px;
    order: 3;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    margin-left: 35px;
  }

  .footer-left-text {
    margin-right: 20px;
  }

  .footer-center {
    margin-top: -30px;
  }

  .footer-list {
    margin-top: 13px;
  }

  .no-margin {
    margin: 0px;
  }
}
@media only screen and (max-width: 380px){
  .container {
    max-width: 330px;
  }

  .logo {
    padding-top: 36px;
  }

  .logo-text {
    margin-left: -6px;
  }

  .nav-burger-img {
    margin-top: 36px;
  }

  .nav-list {
    position: absolute;
    left: -9999px;
  }

  .home-text {
    margin-top: 56px;
    margin-bottom: 24px;
  }

  .leaf-container {
    margin: 0;
    width: 0;
    height: 0;
  }
  
  .home-h1 {
    font-size: 25px;
    line-height: 35px;
    margin-left: 0;
  }

  .home-text h1 {
    padding-bottom: 0;
  }

  .home-p {
    margin-left: 0px;
    font-size: 16px;
    line-height: 25px;
  }

  .home-button {
    width: 100px;
    height: 34.14px;
    font-size: 10px;
    line-height: 20px;
    margin-left: 0;
    margin-top: 25px;
  }

  .about-us-text {
    max-width: 668px;
    margin-top: 30px;
  }

  .about-us-h2 {
    text-align: center;
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 0px;
  }

  .about-us-p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .about-h2-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-bottom: 9px;
  }

  .about-us-plant {
    width: 150px;
    height: 154px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 27px;
  }

  .service-text-buttons {
    margin-bottom: 0;
  }

  .service-h2 {
    font-size: 25px;
    line-height: 33px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .service-button {
    width: 121px;
    height: 35px;
    margin-top: 0px;
    margin-left: 0;
    padding: 0;
    padding-right: 3px;
    margin-right: 6px;
    margin-bottom: 9px;
    font-size: 15px;
    line-height: 20px;
  }

  .service-img-text {
    margin-top: -3px;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
  }

  .service-img {
    margin-top: 31px;
  }

  .service-figure {
    margin-bottom: 3px;
    margin-right: auto;
    margin-left: auto;
  }

  .service-pictures {
    padding-bottom: 24px;
  }

  #price {
    flex-direction: column;
  }

  .price-selection-h2 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 38px;
  }

  .price-selectors {
    margin-left: 50px;
    padding: 29px 22px;
  }

  .price-selectors-rectangle {
    width: 180px;
    height: 49.72px;
    background: #EDF2EC;
    border-radius: 20px;
    margin-bottom: 14px;
  }

  .price-selectors-text {
    font-size: 15px;
    line-height: 20px;
    margin-left: 33px;
  }

  .price-contactus {
    justify-content: center;
  }

  .price-contactus-h2 {
    max-width: 250px;
    font-size: 20px;
    line-height: 35px;
    margin-top: 17px;
    margin-bottom: 20px;
    text-align: center;
  }

  .price-button {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0px;
  }

  .price-contactus-wrapper {
    justify-content: center;
    max-height: 75px;
  }

  .price-contactus-img {
    width: 0px;
    height: 0px;
  }

  #contacts {
    flex-direction: column;
    justify-content: center;
  }

  .contacts-h2 {
    font-size: 25px;
    line-height: 33px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 25px;
    text-align: center;
  }

  .contacts-rectangle {
    margin-top: 80px;
    width: 300px;
    height: 50px;
    margin-right: auto;
  }

  .contacts-accordion {
    margin-right: 22px;
  }

  .contacts-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 133px;
    width: 100px;
    height: 124.25px;
    order: 3;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    margin-left: 35px;
    margin-top: -10px;
  }

  .footer-left-text {
    margin-right: 20px;
  }

  .footer-center {
    margin-top: -30px;
  }

  .footer-list {
    margin-top: 0px;
  }

  .no-margin {
    margin: 0px;
  }
  
  .nav-burger {
    display: block;
  }
}

@media only screen and (min-width: 381px) and (max-width: 600px) {
  .nav-list {
    display: none;
  }

  .nav-burger {
    display: block;
  }

  .nav-burger-img {
    margin-top: 36px;
    margin-right: 10px;
  }

  .price-selectors {
    padding: 15px 10px;
  }

  .price-selectors-rectangle {
    width: 150px;
    height: 50px;
  }

  .price-selectors-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-left: 20px;
  }

  .price-selectors-accordion {
    margin-right: 20px;
  }

  .contacts-rectangle {
    width: 300px;
  }

  .contacts-img {
    margin-left: 100px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .contacts-rectangle {
    width: 300px;
  }

  .contacts-h2 {
    margin-left: 0px;
    font-size: 30px;
    line-height: 30px;
  }
}